
/* Reseteo de CSS: es poner en cero los valores 
    margin: 0;
    padding: 0;*/
*{
    
}


/* Estilos apuntando a las Etiquetas */
header{
    background-color: aqua;
}

p{
    color: blue;
}

/* Estilos apountando a las clases */
.nuevoParrafo{   
    color: red;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 80px;
    padding-bottom: 10px;
}
.titulouno{
    background-color: rgb(182, 182, 192); 
    text-align: end;
}

ul{
text-align: center; 
}

li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    border-bottom: 1px solid black;
    border-left: 1px solid black ;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: top 20px; ;
    padding: bottom 20px; ;
    padding: left 20px; ;
    padding: right 20px; ;
}

.titulodos{
    background-color: antiquewhite;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 150px;
    border-top: 5px solid black;
    border-right: 8px dashed red;
    height: 200px;
    width: 350px;
}

.titulotres{
    text-align: left;
    background-color: bisque;
}

/* Estilos por ID de cada etiqueta */
#ultimo{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
}
.especial {
    font-style: italic;
    font-size: bold;
    color: crimson;
}
{}